:root {
  /* Primary colors */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);

  /* Neutral colors */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /* Font families */
  --font-barlow: "Barlow", sans-serif;
  --font-fraunces: "Fraunces", serif;

  /* Font weights */
  --weight-barlow-600: 600;
  --weight-fraunces-700: 700;
  --weight-fraunces-900: 900;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
}

header {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-image: url(./images/desktop/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
}

.top-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav a,
.nav button {
  color: white;
  text-decoration: none;
  font-family: var(--font-barlow);
  font-weight: 200;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}

.nav a:hover {
  color: var(--dark-blue);
}

.nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: var(--white);
  color: var(--very-dark-desaturated-blue);
  border-radius: 2rem;
  text-transform: uppercase;
  font-family: var(--font-fraunces);
}

.nav button:hover {
  background-color: rgba(255, 255, 255, 0.322);
  color: var(--white);
}

.intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin-top: 8rem;
}

.intro h1 {
  font-size: clamp(2rem, 2.8vw, 3rem);
  color: white;
  text-transform: uppercase;
  font-family: var(--font-fraunces);
  letter-spacing: 0.5rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.items {
  width: 100%;
  height: 100%;
}

.items:nth-child(1),
.items:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  padding: clamp(2rem, 8vw, 12rem);
  gap: 3rem;
}

.items h2 {
  font-size: clamp(2rem, 3vw, 3rem);
  color: var(--very-dark-desaturated-blue);
  font-family: var(--font-fraunces);
  font-weight: var(--weight-fraunces-900);
}

.items p {
  font-size: clamp(0.8rem, 1.2vw, 1.5rem);
  color: var(--dark-grayish-blue);
  font-family: var(--font-barlow);
  line-height: 1.5;
}

.items a {
  color: var(--very-dark-desaturated-blue);
  text-transform: uppercase;
  font-size: 1.1rem;
  font-family: var(--font-fraunces);
  text-decoration-thickness: 0.5rem;
  text-underline-offset: 0px;
}

.items:nth-child(1) a {
  text-decoration-color: hsla(51, 100%, 49%, 0.459);
}
.items:nth-child(1) a:hover {
  text-decoration-color: var(--yellow);
}
.items:nth-child(4) a {
  text-decoration-color: hsl(7, 100%, 82%);
}
.items:nth-child(4) a:hover {
  text-decoration-color: var(--soft-red);
}
.items:nth-child(2) img,
.items:nth-child(3) img {
  width: 100%;
  height: 100%;
}

.items:nth-child(5),
.items:nth-child(6) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  text-align: center;
  padding: clamp(2rem, 8vw, 12rem);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.items:nth-child(5) {
  background-image: url(./images/desktop/image-graphic-design.jpg);
}
.items:nth-child(6) {
  background-image: url(./images/desktop/image-photography.jpg);
}

.items:nth-child(5) h3,
.items:nth-child(6) h3 {
  color: var(--very-dark-desaturated-blue);
  font-family: var(--font-fraunces);
  font-weight: var(--weight-fraunces-900);
}

.items:nth-child(5) p,
.items:nth-child(6) p {
  font-size: clamp(0.8rem, 1.2vw, 1.5rem);
  color: var(--very-dark-desaturated-blue);
  font-family: var(--font-barlow);
  line-height: 1.5;
}

.client {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: clamp(4rem, 6vw, 9rem);
  gap: 3rem;
}

.client h3 {
  font-size: 1.2rem;
  color: var(--grayish-blue);
  text-transform: uppercase;
  font-family: var(--font-fraunces);
  letter-spacing: 0.5rem;
}

.people {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 1rem;
}

.client-item {
  font-family: var(--font-barlow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.client-item img {
  width: 20%;
  border-radius: 50%;
}

.test {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  color: var(--very-dark-grayish-blue);
  line-height: 1.5;
}

.name {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  color: var(--very-dark-desaturated-blue);
  font-family: var(--font-fraunces);
  font-weight: var(--weight-fraunces-900);
  margin-bottom: 0.3rem;
}

.job {
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  color: var(--grayish-blue);
}

.pictures {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.picture img {
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  background-color: hsl(150.88deg 44.74% 70.2%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem;
}

.buttons {
  display: flex;
  gap: clamp(1rem, 3vw, 4rem);
}

.buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--dark-moderate-cyan);
  font-family: var(--font-barlow);
  font-size: clamp(1rem, 1.3vw, 1.5rem);
}

.buttons button:hover {
  color: var(--white);
}

.contact {
  display: flex;
  gap: clamp(1rem, 3vw, 4rem);
}

.contact a {
  color: hsl(168, 45%, 32%);
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.2s ease;
}

.contact a:hover {
  color: var(--white);
}

/* buttun  humbergur for moblie screen */
.logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hamburger-btn {
  background-color: transparent;
  border: none;
  display: none;
  cursor: pointer;
}

/* media queries */

@media screen and (max-width: 40rem) {
  .nav {
    width: 88%;
    padding: 3rem;
    position: absolute;
    top: 7rem;
    background-color: var(--white);
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .nav::before{
    content: "";
    position: absolute;
    top: -1.7rem;
    right: 0;
    width: 10%;
    height: 2rem;
    background-color: transparent;
    border-color: transparent var(--white)  transparent transparent;
    border-width: 2rem 2rem 0 0;
    border-style: solid;
  }

  .show-menu{
    display: flex;
  }

  .nav a {
    color: var(--dark-grayish-blue);
  }

  .nav a:hover {
    color: var(--dark-blue);
  }

  #hamburger-btn {
    display: block;
  }

  .nav button {
    background-color: var(--yellow);
  }

  .nav button:hover {
    background-color: hsl(51, 97%, 70%);
    color: var(--very-dark-grayish-blue);
  }
}
